body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
}

.header,
.site-description,
.footer {
    background-color: #1F2937;
}

.header,
.site-description,
.photos-section,
.quote,
.sign-up,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.header a,
.footer,
.content p {
    color: #E5E7EB;
    font-size: 18px;
}

.header ul {
    gap: 20px;
}

.Logo {
    color: #F9FAF8;
    font-size: 24px;
}

.content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.content {
    flex: 1;
}

.site-description {
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

